<section>
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-Text"><%= section_title %></p>
    <p class="TodoSectionTitle-RemainingCount"><%= todos.completed.count %> / <%= todos.count %></p>
  </div>
  <% todos.all.each do |todo| %>
    <ul class="DueToday">
      <li>
        <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
          <input type="checkbox" name="completed" onclick= "this.form.submit()" <%= todo.completed ? "checked" : "" %> /> 
        <% end %>

        <p class= '<%= todo.completed ? "todo-completedText" : "" %>' ><%= todo.todo_text %></p>

        <% if show_due_date %>
          <p class="dueDate"> <%= todo.due_date.to_s(:short) %> </p>
        <% end %>
        
        <a href=""><i class="far fa-trash-alt"></i></a>
      </li>
    </ul>
  <% end %>
</section>

