<section>
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-Text"><%= section_title %></p>
    <p class="TodoSectionTitle-RemainingCount"><%= todos.completed.count %> / <%= todos.count %></p>
  </div>
  <% todos.all.each do |todo| %>
    <ul class="DueToday">
      <li>
        <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
          <%= check_box_tag "completed", "isCompleted", todo.completed, onclick: "this.form.submit()" %>
        <% end %>

        <p class= '<%= todo.completed ? "todo-completedText" : "" %>' ><%= todo.todo_text %></p>

        <% if show_due_date %>
          <p class="dueDate"> <%= todo.due_date.to_s(:short) %> </p>
        <% end %>
        
        <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
            <%= image_submit_tag("trash.svg", class: "trashImg") %>
        <% end %>
      </li>
    </ul>
  <% end %>
</section>

